absl-py==0.12.0
affine==2.3.0
aiofiles==0.6.0
aiohttp==3.8.4
aiosignal==1.3.1
alembic==1.4.3
altgraph==0.17.2
annotated-types==0.5.0
anyascii==0.3.2
anyio==3.7.1
appdirs==1.4.4
appnope==0.1.2
argcomplete==1.12.3
asgiref==3.7.2
astroid==2.7.3
astunparse==1.6.3
async-timeout==4.0.2
asynctest==0.13.0
attrs==23.1.0
audioread==3.0.0
Automat==22.10.0
Babel==2.12.1
backcall==0.2.0
backports.cached-property==1.0.2
bangla==0.0.2
beam-sdk==0.13.2
beautifulsoup4==4.9.3
black==23.3.0
blinker==1.4
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.6
bokeh==1.4.0
boltons==23.0.0
boto3==1.18.1
botocore==1.21.1
bs4==0.0.1
build==0.10.0
CacheControl==0.12.11
cached-property==1.5.2
cachetools==4.2.2
certifi==2021.5.30
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.1.0
cleo==2.0.1
click==8.1.3
click-plugins==1.1.1
cligj==0.7.2
coco-assistant==0.3.5
colorama==0.4.4
colored==1.4.4
colour==0.1.5
commonmark==0.9.1
compress-json==1.0.10
configparser==5.0.2
constantly==15.1.0
coqpit==0.0.17
coverage==7.2.7
crashtest==0.4.1
crayons==0.4.0
croniter==1.4.1
cryptography==41.0.4
cssselect==1.2.0
cycler==0.10.0
Cython==0.29.22
dateparser==1.1.8
decorator==4.4.2
Deprecated==1.2.12
differint==0.3.2
dill==0.3.4
distlib==0.3.6
distro==1.9.0
Django==3.2.24
dnspython==1.16.0
docopt==0.6.2
dulwich==0.21.5
eliot==1.14.0
eliot-tree==21.0.0
email-validator==1.1.2
espeakng==1.0.2
et-xmlfile==1.1.0
eventlet==0.31.1
exceptiongroup==1.2.0
fiftyone==0.11.1
fiftyone-brain==0.6.1
fiftyone-db==0.2.1
filelock==3.12.0
Flask==2.2.2
Flask-Cors==4.0.0
Flask-Login==0.5.0
Flask-Migrate==2.5.3
Flask-SQLAlchemy==2.4.4
Flask-WTF==0.14.3
flatbuffers==1.12
fonttools==4.38.0
frozenlist==1.3.3
fsspec==2023.1.0
future==0.18.2
gast==0.3.3
geographiclib==1.52
geopy==2.2.0
glcontext==2.3.3
glob2==0.7
google-auth==1.30.0
google-auth-oauthlib==0.4.4
google-images-download==2.8.0
google-pasta==0.2.0
grad-cam==1.2.9
greenlet==1.1.0
griffe==0.29.0
grpcio==1.32.0
gruut==2.3.4
gruut-ipa==0.13.0
gruut-lang-en==2.0.0
guardrails-ai==0.1.6
gunicorn==20.0.4
h11==0.14.0
h2==4.0.0
h5py==2.10.0
hpack==4.0.0
html5lib==1.1
httpcore==0.17.3
httpx==0.24.1
humanfriendly==10.0
Hypercorn==0.11.2
hyperframe==6.0.1
hyperlink==21.0.0
idna==2.10
image-similarity-measures==0.3.5
imageio==2.9.0
importlib-metadata==6.6.0
importlib-resources==5.12.0
incremental==22.10.0
inflect==5.3.0
installer==0.7.0
ipython==7.21.0
ipython-genutils==0.2.0
iso8601==1.1.0
isort==5.11.5
itemadapter==0.8.0
itemloaders==1.1.0
itsdangerous==2.1.2
jamo==0.4.1
jaraco.classes==3.2.3
jedi==0.18.0
jieba==0.42.1
Jinja2==3.1.2
jmespath==0.10.0
joblib==1.0.1
jsonlines==1.2.0
jsonpatch==1.33
jsonpickle==2.1.0
jsonpointer==2.4
jsonschema==4.17.3
kaleido==0.2.1
Keras==2.4.3
Keras-Preprocessing==1.1.2
keyring==23.13.1
kiwisolver==1.3.1
lazy-object-proxy==1.9.0
librosa==0.8.1
llvmlite==0.39.1
lockfile==0.12.2
lxml==4.6.3
macholib==1.16
Mako==1.1.3
manim==0.4.0
# Editable install with no version control (manimgl==1.0.1.dev18)
# -e /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages
ManimPango==0.2.4
mapbox-earcut==0.12.10
Markdown==3.3.4
markdown-it-py==2.2.0
MarkupSafe==2.1.1
marshmallow==3.18.0
marshmallow-dataclass==8.5.14
matplotlib==3.5.3
mccabe==0.6.1
mdurl==0.1.2
mecab-python3==1.0.6
moderngl==5.6.4
moderngl-window==2.3.0
modulegraph==0.19.2
mongoengine==0.20.0
more-itertools==9.1.0
motor==2.4.0
mpmath==1.2.1
msgpack==1.0.5
multidict==6.0.4
multipledispatch==0.6.0
mypy==0.981
mypy-extensions==1.0.0
ndjson==0.3.1
networkx==2.5
node==0.9.25
nodejs==0.1.1
nose2==0.13.0
npm==0.1.1
num2words==0.5.12
numba==0.56.4
numpy==1.21.6
oauthlib==3.1.0
odict==1.7.0
openai==1.10.0
opencv-contrib-python==4.7.0.68
opencv-python-headless==4.4.0.46
openpyxl==3.0.7
opt-einsum==3.3.0
optional-django==0.1.0
packaging==23.1
pandas==1.3.0
parsel==1.8.1
parso==0.8.1
pathspec==0.11.1
patool==1.12
pendulum==2.1.2
pexpect==4.8.0
phasepack==1.5
php==1.2.1
pickleshare==0.7.5
Pillow==8.4.0
pipenv==2021.5.29
pkginfo==1.9.6
pkgutil_resolve_name==1.3.10
platformdirs==3.5.1
plotly==5.1.0
plumber==1.6
plyer==2.0.0
poetry==1.5.0
poetry-core==1.6.0
poetry-plugin-export==1.3.1
pooch==1.7.0
pprintpp==0.4.0
priority==1.3.0
progressbar==2.5
prompt-toolkit==3.0.17
Protego==0.3.0
protobuf==3.15.8
psutil==5.8.0
ptyprocess==0.7.0
py2app==0.28.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybind11==2.11.1
pycairo==1.20.0
pycococreatortools @ git+git://github.com/waspinator/pycococreator.git@fba8f4098f3c7aaa05fe119dc93bbe4063afdab8
pycocotools @ git+https://github.com/philferriere/cocoapi.git@2929bd2ef6b451054755dfd7ceb09278f935f7ad#subdirectory=PythonAPI
pycparser==2.21
pydantic==1.10.8
PyDispatcher==2.0.7
pydot==1.4.2
pydub==0.25.1
pyFFTW==0.12.0
pygame==2.5.2
pyglet==1.5.15
Pygments==2.15.1
pylint==2.10.2
pymongo==3.12.0
pync==2.0.3
pynndescent==0.5.10
pyobjc-core==7.1
pyobjc-framework-Cocoa==7.1
PyOpenGL==3.1.5
PyOpenGL-accelerate==3.1.5
pyOpenSSL==23.2.0
pyparsing==2.4.7
pypinyin==0.49.0
pyproject_hooks==1.0.0
PyQt5==5.15.6
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pyreadline==2.1
pyrr==0.10.3
pyrsistent==0.19.3
pysbd==0.3.4
python-crfsuite==0.9.9
python-dateutil==2.8.1
python-decouple==3.3
python-dotenv==0.21.0
python-editor==1.0.4
pytz==2021.1
pytzdata==2020.1
pyvis==0.2.0
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==25.1.0
Quart==0.14.1
queuelib==1.6.2
rapidfuzz==2.15.1
rasterio==1.2.10
redis==3.5.3
regex==2021.11.10
requests==2.31.0
requests-file==1.5.1
requests-oauthlib==1.3.0
requests-toolbelt==1.0.0
resampy==0.4.2
retrying==1.3.3
rfc3986==1.5.0
rich==13.3.5
rsa==4.7.2
s3transfer==0.5.0
scikit-image==0.19.3
scikit-learn==1.0.2
scipy==1.7.3
Scrapy==2.9.0
screeninfo==0.6.7
seaborn==0.11.1
selenium==3.141.0
service-identity==21.1.0
shellingham==1.5.0.post1
six==1.15.0
sniffio==1.2.0
snuggs==1.4.7
sortedcontainers==2.4.0
sounddevice==0.4.3
SoundFile==0.10.3.post1
soupsieve==2.2.1
SQLAlchemy==1.3.22
sqlparse==0.4.4
sympy==1.7.1
tabulate==0.8.9
tenacity==8.0.1
tensorboard==2.5.0
tensorboard-data-server==0.6.0
tensorboard-plugin-wit==1.8.0
tensorflow==2.4.1
tensorflow-estimator==2.4.0
termcolor==1.1.0
tf==1.0.0
thop==0.0.31.post2005241907
threadpoolctl==2.1.0
tifffile==2021.7.2
tk==0.1.0
tldextract==3.6.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.8
toolz==0.12.0
torch==1.9.0
torch-scatter==2.0.7
torchaudio==0.9.0
torchfile==0.1.0
torchvision==0.10.0
tornado==6.1
tqdm==4.62.3
trainer==0.0.29
traitlets==5.0.5
trove-classifiers==2023.5.22
Twisted==23.8.0
typed-ast==1.4.3
typeguard==2.13.3
typer==0.9.0
typing-inspect==0.9.0
typing_extensions==4.7.1
tzlocal==2.1
umap-learn==0.5.2
Unidecode==1.3.2
unidic-lite==1.0.8
universal-analytics-python3==1.1.1
urllib3==1.26.7
validators==0.20.0
virtualenv==20.23.0
virtualenv-clone==0.5.4
visdom==0.1.8.9
voxel51-eta==0.5.1
w3lib==2.1.2
wcwidth==0.2.5
webdriver-manager==3.4.2
webencodings==0.5.1
webrtcvad==2.0.10
websocket-client==1.6.1
Werkzeug==2.2.2
wrapt==1.12.1
wsproto==1.0.0
WTForms==2.3.3
xattr==0.10.1
xlrd==2.0.1
xmltodict==0.12.0
yarl==1.9.2
zipp==3.4.1
zope.component==4.6.2
zope.deferredimport==4.3.1
zope.deprecation==4.4.0
zope.event==4.5.0
zope.hookable==5.0.1
zope.interface==5.2.0
zope.lifecycleevent==4.3
zope.proxy==4.3.5
